.tournament {
   padding: 80px 0 200px;

   &__title--none {
      display: none;
   }

   &__grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 64px 20px;
   }

   &__item {
      &--1 {
         grid-column: span 8;
         max-width: 760px;
         align-self: center;
      }
      &--2 {
         grid-column: span 4;
      }
      &--3 {
         grid-column: span 5;
         transform: translateX(-27px);
      }
      &--4 {
         grid-column: span 7;
      }
   }

   &__text {
      font-family: $font-sub;
      font-size: 36px;
      font-weight: 400;
      line-height: 135%;
      text-transform: uppercase;

      & span {
         color: #f54932;
         font-size: 36px;
         font-weight: 700;
         line-height: 135%;
         font-family: $font-sub;
         text-transform: uppercase;
      }
   }

   &__problem {
      color: #3057a2;
      font-size: 20px;
      font-weight: 400;
   }
}

.table {
   margin: 60px 0 48px;
   display: grid;
   grid-template-columns: repeat(7, 1fr);

   &__column {
      grid-column: span 3;

      &--big {
         grid-column: span 4;
      }
   }

   &__cell {
      padding: 15px 0;
      border-bottom: 2px solid #D0D0D0;

      &:first-child {
         padding-top: 0;
      }

      &:last-child {
         border-bottom: 0 solid #D0D0D0;
         padding-bottom: 0;
      }
   }

   &__thin {
      padding-right: 16px;
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
      opacity: 0.7;
      border-right: 1px solid #D0D0D0;
   }

   &__bold {
      padding-left: 16px;
      font-size: 20px;
      font-weight: 600;
      line-height: normal;
      border-left: 1px solid #D0D0D0;

      & del {
         margin-right: 12px;
         font-size: 20px;
         font-weight: 600;
         text-decoration-color: #f54932;
      }
   }
}
